@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@100;200;300;400&display=swap");

.wrapper {
  height: 30rem;
  width: auto;
}

h1 {
  text-align: start;
  font-family: "Poppins", sans-serif;
  padding-top: 8.5rem;
  margin-top: 4rem;
  margin-left: 8rem;
  font-size: 2.3rem;
  margin-bottom: 0rem;
}

.landDisplayH2 {
  text-align: start;
  margin-left: 8rem;
  font-size: 1.3rem;
  margin-top: 1em;
}

.name {
  display: block;
  text-shadow: 0.2rem 0.1rem rgb(238, 252, 46);
  font-weight: bolder;
  font-size: 5rem;
}

.angleBracket {
  font-size: 1.4rem;
  font-weight: bolder;
  text-shadow: 0.2rem 0.2rem rgb(235, 250, 29);
}

@media (max-width: 930px) {
  h1 {
    margin-top: 4rem;
    margin-left: 4rem;
    font-size: 2rem;
  }
  .landDisplayH2 {
    margin-left: 4rem;
    font-size: 1rem;
    margin-top: 0em;
  }
}

@media (max-width: 780px) {
  h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
    margin-left: 2rem;
  }
  .name {
    font-size: 3rem;
  }

  .landDisplayH2 {
    margin-left: 2rem;
    font-size: 1rem;
    margin-top: 0;
  }
}

@media (max-width: 420px) {
  h1 {
    margin-top: 2rem;
    font-size: 1.1rem;
    margin-left: 2rem;
  }
  .name {
    font-size: 2.1rem;
  }

  .landDisplayH2 {
    margin-left: 2rem;
    font-size: 0.8rem;
    margin-top: 0;
  }
  .angleBracket {
    font-size: 0.8rem;
  }
}
