@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@100;200;300;400&display=swap");

.wrapper {
  height: 40rem;
  width: auto;
  box-shadow: 1px 6px 33px 0px rgba(89, 89, 89, 0.103);
  background-color: rgb(0, 0, 0);
}

h1 {
  text-align: start;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 6rem;
  padding-top: 10rem;
  text-align: center;
  margin-top: 0;
}

h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  text-decoration: 4px underline rgb(238, 252, 46);
  color: rgb(255, 255, 255);
}
