.h2Header {
  margin-top: 150px;
  font-family: "Roboto Mono", monospace;
  text-align: center;
  padding: 5px;
  font-size: 30px;
  font-weight: 500;
  text-decoration: 4px underline rgb(238, 252, 46);
  font-size: 30px;
}

.techDisplayWrapper {
  display: flex;
  flex-direction: row;
  height: 0px;
}

.textDiv {
  width: 50%;
  text-align: justify;
  margin-left: 5%;
}

.imgDiv {
  width: 10%;
}

.imgTag {
  width: 400px;
  margin-left: 50px;
  border: none;
}

p {
  font-family: "Roboto Mono", monospace;
  font-size: 17px;
  font-weight: 350;
}
