.portfolioWrapper {
  margin-top: 10rem;
}

.projectsDiv {
  display: flex;
  flex-direction: column;
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.unitProjectDiv {
  display: flex;
  flex-direction: row;
}

.unitProjectDiv:nth-child(2) {
  margin-top: 3rem;
}

.unitProjectDiv:nth-child(3) {
  margin-top: 3rem;
}
.technologies {
  text-align: center;
}

.drinkApp {
  display: flex;
  flex-direction: row;
}

.projectImage {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 20px;
  width: 25rem;
  height: auto;
  margin-top: 5rem;
}

.projectText {
  margin-left: 20px;
  text-align: justify;
}

.imageLink {
  background-color: none;
  border-radius: 50%;
  border: 0px;
}

.projectLinks {
  font-weight: 500;
  text-decoration: underline;
}
.projectLinks:hover {
  background-color: rgb(238, 252, 46);
}
@media (max-width: 1200px) {
  .unitProjectDiv {
    display: flex;
    flex-direction: column;
  }
  .projectImage {
    width: 30rem;
    height: auto;
    margin-top: 1.5rem;
  }
  .projectText {
    margin: 0;
    padding: 0.5rem;
  }
}

@media (max-width: 600px) {
  .projectImage {
    width: 20rem;
    height: auto;
    margin-top: 1.5rem;
  }
}
@media (max-width: 400px) {
  .projectImage {
    width: 15rem;
    height: auto;
    margin-top: 1.5rem;
  }
}
@media (max-width: 290px) {
  .projectImage {
    width: 80%;
    height: auto;
    margin-top: 1.5rem;
  }
}
