.portfolioWrapper {
  margin-top: 500px;
  margin-bottom: 200px;
  background-color: rgb(238, 252, 46);
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
}

h2 {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  padding: 5px;
  font-weight: 400;
  margin-bottom: 50px;
  text-decoration: 4px underline rgb(255, 255, 255);
  font-size: 30px;
}

.projectsDiv {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
}

img {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 2px;
  width: 450px;
}

.drinkApp {
  padding: 2%;
  background-color: rgb(255, 255, 255);
}
