@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

.aboutWrapperDiv {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  margin: 9% 2% 20px 2%;
  padding: 2%;
  border-radius: 20px;
  box-shadow: 5px 5px 33px 0px rgba(33, 33, 33, 0.062);
}

.aboutH2 {
  font-family: "Noto Sans", sans-serif;
  text-decoration: 4px underline rgb(238, 252, 46);
  font-size: 30px;
  font-weight: 400;
  color: black;
}

.aboutParagraphs {
  text-align: justify;
}

p {
  font-family: "Poppins", sans-serif;
}
