.aboutWrapper {
  margin-top: 5rem;
}

.aboutParagraphsWrapper {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.textDiv {
  width: 60%;
  text-align: justify;
  margin-left: 0;
  padding: 1rem;
}

.imgDiv {
  margin-top: 2.3rem;
}

.imgTag {
  width: 20rem;
  margin-left: 10%;
  margin-right: 10%;
}

@media (min-width: 1950px) {
  .imgTag {
    margin-left: 30%;
  }
}

@media (min-width: 1500px) {
  .textDiv {
    width: 70%;
  }
}

@media (max-width: 1140px) {
  .aboutParagraphsWrapper {
    display: flex;
    flex-direction: column-reverse;
  }
  .textDiv {
    width: 95%;
  }
}
@media (max-width: 900px) {
  .aboutWrapper {
    margin-top: 2rem;
  }
}

@media (max-width: 700px) {
  .aboutWrapper {
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .techParagraphsWrapper {
    margin: 1%;
  }
  .textDiv {
    width: 90%;
  }
  .imgTag {
    width: 14rem;
    height: auto;
  }
}

@media (max-width: 600px) {
  .imgTag {
    width: 9rem;
    height: auto;
  }
}
