.techDisplayWrapper {
  margin-top: 10rem;
}

.aboutParagraphsWrapper {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2%;
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
}

.textDiv {
  width: 50%;
  text-align: justify;
  margin-left: 0;
  padding: 1rem;
}

.imgDiv {
  margin-top: 2.3rem;
}

.imgTag {
  width: 400px;
  margin-left: 50px;
  border: none;
}

@media (max-width: 1140px) {
  .imgDiv {
    display: none;
  }
  .textDiv {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .techParagraphsWrapper {
    margin: 1%;
  }
}
