.contactH2 {
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  font-weight: 900;
}

.contactWrapper {
  margin-top: 10rem;
  padding-bottom: 3rem;
  height: fit-content;
  background-color: #ccd1dd;
  border-top: 0.5px solid rgb(173, 173, 173);
}

.contactParagraphsWrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.contactText {
  margin-right: 3%;
  width: 50%;
}

.contactWrapper p {
  text-align: justify;
  padding-right: 20px;
}

.formWrapper {
  width: 50%;
  margin-left: 1%;
}

form {
  text-align: center;
  font-size: 17px;
}

input {
  width: 500px;
  font-size: 13px;
  font-family: inherit;
  text-align: start;
  padding: 15px;
  border: 0.5px solid rgb(185, 185, 185);
  border-radius: 5px;
  margin-top: 15px;
}

input:focus {
  outline-color: rgb(238, 252, 46);
}

textarea {
  width: 500px;
  font-size: 13px;
  text-align: start;
  padding: 15px;
  border: 0.5px solid rgb(185, 185, 185);
  border-radius: 5px;
  margin-top: 15px;
  resize: vertical;
  min-height: 200px;
  font-family: inherit;
}

textarea:focus {
  outline-color: rgb(238, 252, 46);
}

.inputButton {
  width: 100px;
  text-align: center;
  padding: 8px;
  border-radius: 30px;
  background-color: rgb(236, 236, 236);
  font-size: 15px;
  font-weight: bolder;
  border: 1px solid rgb(170, 169, 169);
}

.inputButton:hover {
  background-color: rgb(240, 252, 67);
}

.icons {
  text-align: end;
  display: flex;
  flex-direction: column;
}

li:nth-child(1) {
  position: fixed;
  overflow-y: scroll;
  bottom: 2rem;
  right: 0.1rem;
  padding: 0;
}

li:nth-child(2) {
  position: fixed;
  overflow-y: scroll;
  bottom: 6rem;
  right: 0.1rem;
  padding: 0;
}

.iconsLink {
}

#designAuthor {
  margin-top: 3rem;
  font-size: inherit;
  text-align: center;
}

#email {
  font-weight: bolder;
}

#backToTop:hover {
  text-decoration: 3px underline rgb(238, 252, 46);
}
