.contactWrapper {
  margin-top: 10rem;
  padding-bottom: 3rem;
  height: fit-content;
  background-color: #ccd1dd;
  border-top: 0.5px solid rgb(173, 173, 173);
}

.contactParagraphsWrapper {
  display: flex;
  flex-direction: row;
  margin-left: 4%;
  margin-right: 4%;
  text-align: justify;
}

.contactText {
  width: 70%;
  margin-left: 1%;
  margin-right: 3%;
}

.formWrapper {
  width: 70%;
}

form {
  text-align: center;
  font-size: 1rem;
  margin-right: 2rem;
}

input {
  width: 100%;
  font-size: 13px;
  font-family: inherit;
  text-align: start;
  padding: 10px;
  border: 0.5px solid rgb(185, 185, 185);
  border-radius: 5px;
  margin-top: 15px;
}

input:focus {
  outline-color: rgb(238, 252, 46);
}

textarea {
  width: 100%;
  font-size: 13px;
  text-align: start;
  padding: 10px;
  border: 0.5px solid rgb(185, 185, 185);
  border-radius: 5px;
  margin-top: 15px;
  resize: vertical;
  min-height: 200px;
  font-family: inherit;
}

textarea:focus {
  outline-color: rgb(238, 252, 46);
}

.inputButton {
  width: 100px;
  text-align: center;
  padding: 8px;
  border-radius: 30px;
  background-color: rgb(236, 236, 236);
  font-size: 15px;
  font-weight: bolder;
  border: 1px solid rgb(170, 169, 169);
}

.inputButton:hover {
  background-color: rgb(240, 252, 67);
}

.icons {
  text-align: end;
  display: flex;
  flex-direction: column;
}

#email {
  font-weight: bolder;
}

.backToTop {
  margin-top: 2rem;
}

#backToTop:hover {
  text-decoration: 3px underline rgb(238, 252, 46);
}

#designAuthor {
  margin-top: 2rem;
  font-size: inherit;
  text-align: center;
}

@media (max-width: 1050px) {
  .contactParagraphsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-left: 1%;
    margin-right: 1%;
  }
  .contactText {
    margin: 0;
  }
  .formWrapper {
    margin: 0;
  }
  form {
    margin: 0;
  }
}

@media (max-width: 550px) {
  .inputButton {
    padding: 0.4rem;
    width: 90px;
    font-size: 0.9rem;
  }
  #designAuthor {
    font-size: 0.8rem;
  }
  #backToTop {
    margin-top: 10rem;
  }
}

@media (max-width: 300px) {
  .inputButton {
    padding: 0.4rem;
    font-size: 0.8rem;
    width: 80px;
  }
}
