body {
  margin: 0;
  height: auto;
  background: #fcbfe4;
  background: -webkit-linear-gradient(right, #fcbfe4, #ffd1a1);
  background: -moz-linear-gradient(right, #fcbfe4, #ffd1a1);
  background: linear-gradient(to left, #fcbfe4, #ffd1a1);
}
