body {
  background: #ffaf66;
  background: -webkit-linear-gradient(right, #ffaf66, #fb9cd5);
  background: -moz-linear-gradient(right, #ffaf66, #fb9cd5);
  background: linear-gradient(to left, #ffaf66, #fb9cd5);
}
