.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4rem;
  padding: 1rem;
  background-color: inherit;
  padding-right: 5rem;
  border-bottom: 0.5px solid #ccd1dd;
}

.logoDiv {
  width: 70%;
  text-align: start;
  margin-left: 2rem;
}
.logo {
  height: 1.3rem;
}
