@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 7%;
  padding: 1.5%;
  background-color: rgb(0, 0, 0);
}

.navBar a {
  font-family: "Noto Sans", sans-serif;
  font-size: 17px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

a:hover {
  text-decoration: 5px underline rgb(29, 27, 49);
}
